<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="shortcut icon" href="image/favicon.jpg" type="images/x-icon">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css">
  <title>Realtime weather</title>
</head>

<body>
  <!---------------------------------------------------->

  {{>navbar}}
  <!---------------------------------------------------->
  <!--main header-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto ">
        <div class="row display">
          <!--left side div-->
          <div class="wrt-left col-md-6 col-12 main_header_left">
            <div>
              <p class="">Hello I'm <span><h1>Adnan Sabir</h1></span><br>a student of Alhera Academy school and I'm also part time programmer</p>
              <h3>my dear user <br>
                you can enjoy my weather website.and it is for all the location of the earth. <br>
                from Sabir
              </h3>
              <p>Kanikara,Nabinagar</p>
              <p>num:01307078810</p>
              <a style="color: black !important;" href='https://www.facebook.com/adnan.sabir.77377'>my facebook account</a> <br>
              
              
            </div>
          </div>
          <!--right side div-->
          <figure>
              <img style="width: 16rem; padding: 20px; border-radius: 13px;" src="image/DSC_0067.JPG" alt="">
          </figure>
        </div>
      </div>
    </div>
  </div>
  <!-- fotter here -->
  <footer>
   <p> © 2021 — 2022 Weatherly ® All rights reserved.</p>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
</body>

</html>